extends layout
block content
  #banner.page-header 
    .row 
      .col-lg-6
        h1 
          | MekanBul 
          small &nbsp; Civardaki mekanları keşfet ! 
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item 
        h4 
          a(href='/mekan') Bilgisayar Müh 
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty 
        span.badge.pull-right.badge-default 10km
        p.address SDÜ Batı Kampüsü
        p 
          span.label.label-warning Web Teknolojileri 
          |  &nbsp;
          span.label.label-warning Sinan Hoca
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item 
        h4 
          a(href='/mekan') Endüstri Müh 
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty 
        span.badge.pull-right.badge-default 10km
        p.address SDÜ Batı Kampüsü
        p 
          span.label.label-warning Algoritma ve Programlama
          |  &nbsp;
          span.label.label-warning Mehmet Hoca

  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item 
        h4 
          a(href='/mekan') Çevre Müh 
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty 
        span.badge.pull-right.badge-default 10km
        p.address SDÜ Batı Kampüsü
        p 
          span.label.label-warning Çevre ve Enerji
          |  &nbsp;
          span.label.label-warning Yunus Hoca
 
