extends layout
block content
  #banner.page-header 
    .row 
      .col-lg-6
        h1 
          | MekanBul 
          small &nbsp; Civardaki mekanları keşfet ! 
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item 
        h4 
          a(href='/mekan') Starbucks
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty 
        span.badge.pull-right.badge-default 10km
        p.address Centrum Garden AVM
        p 
          span.label.label-warning Dünya Kahveleri
          |  &nbsp;
          span.label.label-warning Kekler 
          |  &nbsp;
          span.label.label-warning Pastalar 
          |  &nbsp;  
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item 
        h4 
          a(href='/mekan') Cam Kafe 
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty 
        span.badge.pull-right.badge-default 1km
        p.address SDÜ Batı Kampüsü
        p 
          span.label.label-warning Dürüm
          |  &nbsp;
          span.label.label-warning İçecekler 
          |  &nbsp;
          span.label.label-warning Atıştırmalık
          |  &nbsp;

  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item 
        h4 
          a(href='/mekan') Mackbear Coffee
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty 
        span.badge.pull-right.badge-default 3km
        p.address SDÜ Doğu Kampüsü
        p 
          span.label.label-warning İçecekler
          |  &nbsp;
          span.label.label-warning Tatlılar 
          |  &nbsp;
          span.label.label-warning Atıştırmalıklar
          |  &nbsp;
          
